<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>
<body>
    <%- include ('./partials/headerRegister') %>
    <main>
        <div class="detail__container">
            <div>
                <img src=<%= product.img %>>
            </div>
            <div class="detail__description">
                <h3><%= product.name %></h3>
                <p class="detail__price"><%= product.price %></p>
                <p class="detail__discount"><%= product.discount %></p>
            </div>
        </div>
    </main>
    <%- include ('./partials/footer') %>
</body>
</html>